{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="page-header">
    <h1>Hello, {{ current_user.user_username }}</h1>
    <h2>How about to add Booking</h2>
</div>
 {% if flight %}
    <div class="flight-content">
        <div class="flight-title">Airline: {{ flight.airlineName }}</div>
        <div class="flight-from_place">From: {{ flight.from_place }}</div>
        <div class="flight-to_place">To :{{ flight.to_place }}</div>
        <div class="flight-depart">Depart {{ flight.depart_at_from }}</div>
        <div class="flight-available">Stutes: {{ flight.available }}</div>
        <div class="flight-price">price: 999</div>
        {{ wtf.quick_form(form) }}
        <br>
    </div>
    {% endif %}


{% endblock %}