{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="page-header">
    <h1>Hello, {{ current_user.user_username }}</h1>
</div>

<div class="container">
<table class="table">
        <thead>
            <tr>
                {% for column in Usercolumns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.user_username }}</td>
                <td>{{user.user_fullname}}</td>
                <td>{{user.user_email}}</td>
                <td>{{user.contactNo}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.address}}</td>
                <td>{{user.regist_date}}</td>
                <td>{{user.user_confirm}}</td>
                <td><button type="button" onclick="window.location.href='{{ url_for( 'main.edituser', username = user.user_username ) }}';">edit</button></td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}