{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div >
    <h1>UserINFO</h1>
</div>

 <div>
     {% if user.address %}
        <p>{{user.user_fullname}} live in {{ user.address }}</p>
     {% endif %}

     {% if user.contactNo %}
        <p>contact Number :{{ user.contactNo }}</p>
     {% endif %}

      <div class="post-editor">
            <a href="{{ url_for('main.edituserinfo') }}">Edit</a>
      </div>


</div>
<div>
    Order record:
    {% if user.orders %}
    <table class="table">
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for order in user.orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.func_module_name }}</td>
                <td>{{ order.func_description }}</td>
                <td>{{ order.func_is_activate }}</td>
                <td>{{ order.func_remark }}</td>
            </tr>
    </table>
            <ul>

                    <li> order date {{ order.create_date }}</li>
                {% endfor %}
            </ul>


    {% else %}
        no booking record.
    {% endif %}
</div>

    {{user.roles[0] }} = {{  user.roles[0] =='ADMIN' }}

    {% if user.roles[0] == 'ADMIN' %}
    <div>
        Hello!
    </div>
    {%else%}
        error
    {% endif %}


{% endblock %}